.login{
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
    width: 50%;
    margin-left:30%;
    margin-right:30%;

    
}

.loginCard{
    width: 400px;
}

.newPostBox{
     display:flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
    margin:0 auto;
}

.titlepost, .descpost{
        width: 500px;
}

a{
        margin-top: 10px;
    }
    
    .botonlogin{
        height:45px;
        width:130px;
        margin:40px 25% 10px 25%;
        flex: 0 1 auto;
    }